navbar-height = 96px;

.navbar {
  width: auto;
  margin: 0;
  height: navbar-height;
  display: flex;
  flex-direction: column;
  // justify-content: center
  align-items: center;
  background: var(--background);
  color: var(--alt-primary);
  font-size: var(--font-size-base);

  &.admin-mode {
    --accent-color: var(--pal-warning-color);
    --accent-alt: var(--pal-base-03);
    --alt-primary: var(--pal-accent-dull);
  }

  &.style-accent {
    --background: var(--pal-accent);
    --accent-color: var(--pal-base-03);
    --accent-alt: var(--pal-base-03);
    --alt-primary: var(--pal-base-04);
  }

  &.hide {
    display: none;
  }

  &.collapse-space {
    margin-bottom: -1 * navbar-height;
    --background: transpaent;
  }
}

.admin-banner {
  background: var(--accent-color);
  height: 8px;
  align-self: stretch;
}

.navbar-inner {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.nav-sep {
  flex-grow: 1;
}

.logo {
  color: var(--accent-color);
  font-weight: 900;
  font-size: var(--font-size-large);
  transition: color 100ms ease-in-out;

  &:hover {
    color: var(--accent-alt);
  }
}

.subdir {
  transition: color 100ms ease-in-out;
  margin-left: var(--space-2);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: var(--font-size-large);

  &:hover {
    color: var(--accent-alt);
  }
}

.nav-item {
  height: 100%;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: var(--space-3);
  padding-right: var(--space-3);

  &:first-child {
    padding-left: var(--space-3);
    margin-left: calc(var(--space-3) * -1);
  }

  &:last-child {
    padding-right: var(--space-3);
    margin-right: calc(var(--space-3) * -1);
  }
}
