<div class="navbar">
  <div class="container navbar-inner">
    <div class="nav-item logo">rurikawa</div>
    <div class="nav-sep"></div>
    <ng-template [ngIf]="accountService.isLoggedIn" [ngIfElse]="notLoggedIn">
      <div class="nav-item">{{ accountService.UserName }}</div>
      <div class="nav-item ghost-btn">设置</div>
      <div class="nav-item ghost-btn">登出</div>
    </ng-template>
    <ng-template #notLoggedIn>
      <a class="nav-item ghost-btn" [routerLink]="'/login'">登录</a>
      <a class="nav-item ghost-btn" [routerLink]="'/register'">注册</a>
    </ng-template>
  </div>
</div>
