<div class="navbar" [ngClass]="{ 'admin-mode': adminMode }">
  <div class="admin-banner" *ngIf="adminMode" @adminBar></div>
  <div class="container navbar-inner">
    <div class="nav-item" *ngIf="!hideLogo" [routerLink]="logoLink">
      <span class="logo">rurikawa</span>
      <span class="subdir" *ngIf="realSubir">/ {{ realSubir }}</span>
    </div>
    <div class="nav-sep"></div>
    <ng-template [ngIf]="accountService.isLoggedIn" [ngIfElse]="notLoggedIn">
      <div class="nav-item">{{ username }}</div>
      <div
        class="nav-item ghost-btn"
        *ngIf="accountService.isAdmin"
        routerLink="/admin"
      >
        管理
      </div>
      <div class="nav-item ghost-btn" [routerLink]="'/settings'">设置</div>
      <div class="nav-item ghost-btn" (click)="logout()">登出</div>
    </ng-template>
    <ng-template #notLoggedIn>
      <a class="nav-item ghost-btn" [routerLink]="'/login'">登录</a>
      <a class="nav-item ghost-btn" [routerLink]="'/register'">注册</a>
    </ng-template>
  </div>
</div>
