.title {
  color: var(--secondary-color)
}

.title-input {
  font-size: var(--font-size-extra-large)
  font-weight: 300
}

.info-text {
  color: var(--secondary-color)
  font-size: var(--font-size-smaller)
}
