.header {
  height: 2px
  background: var(--secondary-color)
}

.wrapper {
  display: flex
  flex-direction: column
  align-items: stretch
}

.body {
  overflow: hidden
  max-height: 150px
  display: flex
}
