.header {
  height: 2px
  background: var(--secondary-color)
}

.title {
  margin-top: var(--space-1)
  margin-bottom: var(--space-0)
}

.wrapper {
  display: flex
  flex-direction: column
  align-items: stretch
}

.sender {
  font-size: var(--font-size-smaller)
  color: var(--secondary-color)
}

.body {
  overflow: hidden
  max-height: 150px
  display: flex
  font-size: var(--font-size-smaller)
  color: var(--alt-primary)
}
