.wrapper {
  display: flex
  flex-direction: column
  margin: 0
  height: auto
  width: auto
}

.area-wrapper {
  display: flex
  flex-grow: 1
  flex-direction: column
  padding: var(--space-4)
  border: 2px solid var(--disabled-color)
  border-radius: var(--space-0)
  transition: all 100ms ease-in-out
  color: var(--secondary-color)

  &.large {
    min-height: 25vh
  }
}

.dragging-over {
  color: var(--accent-alt)
  border-color: var(--accent-alt)
  background-color: var(--alt-background)
}

.single-file-waiting {
  color: var(--background-color)
  border: none
  background-color: var(--accent-alt)
}

.single-file-uploading {
  color: var(--background-color)
  border: none
  background-color: var(--secondary-color)
}

.single-file-failed {
  color: var(--background-color)
  border: none
  background-color: var(--error-color)
}

.single-file-succeeded {
  color: var(--background-color)
  border: none
  background-color: var(--success-color)
}

#drop-file {
  display: flex
  flex-grow: 1
  flex-direction: column
  justify-content: center
  align-items: center
  user-select: none
}

#single-file-data {
  display: flex
  flex-grow: 1
  flex-direction: column
  justify-content: flex-start
  align-items: stretch
  user-select: none
  z-index: 1

  #info-row {
    display: flex
    flex-direction: row
    justify-content: stretch
    align-items: flex-start
    flex-grow: 1

    #info-col {
      flex-grow: 1
    }
  }

  .close-btn-container {
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: flex-start

    ic-icon {
      margin: calc(-1 * var(--space-4))
      padding: var(--space-4)
      transition: all 100ms ease-in-out

      &:hover {
        background: var(--inverted-highlight-color)
      }
    }
  }

  .upload-btn {
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    padding: var(--space-4)
    margin: calc(-1 * var(--space-4))
    margin-top: 0
    font-size: var(--font-size-extra-large)
    font-weight: 300

    &:hover {
      background: var(--inverted-highlight-color)
    }

    ic-icon {
      margin-right: var(--space-2)
    }
  }
}

.caption {
  font-size: var(--font-size-large)
}

.filename {
  font-size: var(--font-size-extra-large)
  font-weight: 300
}

.accepts-info {
  font-size: var(--font-size-smaller)
}

#file-upload {
  display: none
}

.upload-background {
  background: var(--background-color)
  position: absolute
  left: 0
  top: 0
  height: 100%
  z-index: 0
}
