[submodule "golem"]
	path = golem
	url = git://github.com/rami3l/golem.git
	branch = master
[submodule "3rd_party/SplitStream"]
	path = 3rd_party/SplitStream
	url = https://github.com/lynzrand/SplitStream.git

