<div class="container">
  <div class="section">
    <div class="row text">
      <h1>评测姬</h1>
      <div class="space"></div>
      <a routerLink="/admin/judger" class="ghost-btn">管理</a>
    </div>
    <!-- TODO: 用更好的方式展示 -->
    <div>
      <strong> TODO: 用更好的方式展示 </strong>
    </div>
    {{ judgerStat | json }}
    <!-- <app-slider-view></app-slider-view> -->
  </div>
  <div class="section">
    <div class="row text">
      <h1>作业</h1>
      <div class="space"></div>
      <a class="ghost-btn" routerLink="/admin/suite/create">创建</a>
    </div>
    <div class="wrapper">
      <app-admin-dashboard-item
        *ngFor="let i of suite"
        [item]="i"
        (click)="navigateToSuite(i.id)"
      ></app-admin-dashboard-item>
    </div>
  </div>
</div>
