<app-navbar [adminMode]="true"></app-navbar>
<div class="container">
  <div class="section">
    <div class="row text">
      <h1>评测姬</h1>
    </div>
    <!-- <app-slider-view></app-slider-view> -->
  </div>
  <div class="section">
    <div class="row text">
      <h1>作业</h1>
      <div class="space"></div>
      <div class="ghost-btn" routerLink="/admin/suite/create">创建</div>
    </div>
    <div class="wrapper">
      <app-admin-dashboard-item
        *ngFor="let i of suite"
        [item]="i"
        (click)="navigateToSuite(i.id)"
      ></app-admin-dashboard-item>
    </div>
  </div>
</div>
