theme-page-lg = 1180px
theme-page-md = 960px
theme-page-sm = 720px
theme-breakpoint-lg = 1360px
theme-breakpoint-md = 1080px
theme-breakpoint-sm = 720px

generate-breakpoints(breakpoints, widths) {
  if (length(breakpoints) != length(widths)) {
    error('The number of breakpoints must match that of widths')
  }

  for $i in 0 .. (length(breakpoints) - 2) {
    @media screen and (min-width: breakpoints[$i]) and (max-width: breakpoints[$i + 1]) {
      margin-left: auto
      margin-right: auto
      width: widths[$i]
    }
  }

  @media screen and (min-width: breakpoints[length(breakpoints) -1]) {
    margin-left: auto
    margin-right: auto
    width: widths[length(widths) -1]
  }

  @media screen and (max-width: breakpoints[0]) {
    margin-left: var(--theme-container-pad)
    margin-right: var(--theme-container-pad)
    width: auto
  }
}

.container {
  generate-breakpoints: theme-breakpoint-sm theme-breakpoint-md theme-breakpoint-lg, theme-page-sm theme-page-md theme-page-lg
}
