@import 'breakpoint'

.container {
  generate-breakpoints: theme-breakpoint-sm theme-breakpoint-md theme-breakpoint-lg, theme-page-sm theme-page-md theme-page-lg
}

.row {
  width: 100%
  display: flex
  flex-direction: row

  &.text {
    align-items: baseline
  }
}

.space {
  flex-grow: 1
}
