<app-navbar></app-navbar>
<div class="container body-container">
  <div class="section" *ngIf="announcements || loading">
    <div class="row text">
      <h1>公告</h1>
      <div class="space"></div>
      <a class="ghost-btn" [routerLink]="['/announcement']">更多</a>
    </div>
    <div class="wrapper">
      <div class="announcement-items">
        <app-announcement-item
          class="announcement"
          *ngFor="let item of announcements"
          [item]="item"
          [routerLink]="['/announcement', item.id]"
        ></app-announcement-item>
      </div>
      <div class="" *ngIf="loading">在加载了</div>
    </div>
  </div>
  <div class="section">
    <div class="row text">
      <h1>作业</h1>
      <div class="space"></div>
      <!-- <div class="ghost-btn">添加</div> -->
    </div>
    <div class="test-suite-wrapper">
      <ng-template #isLoading> 在加载了在加载了 </ng-template>
      <ng-template [ngIf]="!loading" [ngIfElse]="isLoading">
        <div class="empty" *ngIf="!error && (!items || items.length == 0)">
          没有 ouo
        </div>
        <div class="empty" *ngIf="error">出错了：{{ errorMessage }}</div>
        <app-dashboard-item-component
          *ngFor="let i of items"
          [item]="i"
          (click)="gotoJudgeSuite(i.suite.id)"
        ></app-dashboard-item-component>
      </ng-template>
    </div>
  </div>
</div>
<div class="judger-status footer">
  <div class="container" *ngIf="judgerStat">
    <strong>评测机:</strong>
    {{ judgerStat.connected }} 已连接 / {{ judgerStat.running }} 有任务
  </div>
</div>
