@import '../../../../src/styles/common.styl'

.test-suite-wrapper {
  flex-grow: 1
}

.body-container {
  flex-grow: 1
}

.announcement-items {
  display: flex
  flex-direction: row
}

.announcement {
  lost-column: 1 / 3
  max-height: 360px
}
