<div
  class="wrapper hover-highlight highlight-padding-larger"
  [ngClass]="{ compact: compact }"
>
  <div class="row text">
    <div class="time">{{ timeString }}</div>
    <div class="score">
      {{ item.numberBrief
      }}<span class="score-sub">{{ item.numberBriefSub }}</span>
    </div>
    <div class="slider" *ngIf="!compact">
      <app-slider-view [items]="slider" [height]="8"></app-slider-view>
    </div>
  </div>
  <div class="row text" [ngClass]="{ 'show-username': showUsername }">
    <div class="id">{{ item.id }}</div>
    <div class="username" *ngIf="showUsername">
      <ic-icon [icon]="userIcon" [inline]="true"></ic-icon> {{ item.account }}
    </div>
    <div class="repo">
      <ic-icon [icon]="branchIcon" [inline]="true"></ic-icon> {{ item.branch }}
    </div>
  </div>
</div>
