.hdr {
  background: var(--pal-accent)
  --background-color: var(--pal-accent)
  --accent-color: var(--pal-base-03)
  --accent-alt: var(--pal-base-03)
  --alt-primary: var(--pal-base-04)
  display: flex
  flex-direction: column
  align-items: stretch
}
