<div class="textbox" [ngClass]="styleClass">
  <label class="caption">{{ caption }}</label>
  <div class="input input-wrapper" [ngClass]="inputClass" (click)="focus()">
    <ic-icon
      *ngIf="icon"
      [icon]="icon"
      class="icon"
      [size]="iconSize"
      [align]="'center,bottom,slice'"
    ></ic-icon>
    <input
      *ngIf="!multiline"
      [id]="id"
      [type]="type"
      [disabled]="disabled"
      [(ngModel)]="value"
      [placeholder]="placeholder"
      (keyup.enter)="enterKeyPress.emit($event)"
      (keypress)="keyPress.emit($event)"
      (keydown)="keyDown.emit($event)"
      (keyup)="keyUp.emit($event)"
      #input
    />
    <textarea
      *ngIf="multiline"
      [id]="id"
      [disabled]="disabled"
      [(ngModel)]="value"
      [placeholder]="placeholder"
      (keyup.enter)="enterKeyPress.emit($event)"
      (keypress)="keyPress.emit($event)"
      (keydown)="keyDown.emit($event)"
      (keyup)="keyUp.emit($event)"
      #input
    ></textarea>
  </div>
  <div class="message">{{ message }}</div>
</div>
