@lost flexbox flex;

.wrapper {
  margin-top: var(--space-0);
  margin-bottom: var(--space-0);
  padding: var(--space-2);
  margin-left: calc(var(--space-2) * -1);
  margin-right: calc(var(--space-2) * -1);
  border-radius: var(--space-0);
}

.title {
  lost-column: 1 / 2;
  font-weight: bold;
  font-size: var(--font-size-larger);
}

.time {
  lost-column: 1 / 4;
}

.id {
  lost-column: 1 / 4;
  font-size: var(--font-size-smaller);
  color: var(--alt-primary);
}
