<app-navbar></app-navbar>
<div class="container">
  <div class="blk title">
    <div class="id">#{{ id }}</div>
    <div class="title">
      <h1>评测结果</h1>
      <div class="repo-rows">
        <div class="row text" *ngIf="job">
          <span class="job-info repo">
            <ic-icon [icon]="repoIcon"></ic-icon>
            {{ repo }}
          </span>
        </div>
        <div class="row text" *ngIf="job">
          <span class="job-info branch">
            <ic-icon [icon]="branchIcon"></ic-icon>
            {{ branch }}
          </span>
          <span class="job-info revision">
            <ic-icon [icon]="commitIcon"></ic-icon>
            {{ revision }}
          </span>
        </div>
      </div>
    </div>
    <div class="before-title-spacer"></div>
    <div class="row">
      <span class="result-brief">
        {{ titleNumberBrief() }}
      </span>
    </div>
    <div class="result-brief-slider" *ngIf="isFinished">
      <app-slider-view [items]="briefSlider()" [height]="4"></app-slider-view>
      <div class="number-brief">
        {{ numberBrief() }}
      </div>
    </div>
  </div>
  <div class="blk messages" *ngIf="job?.resultMessage">
    <h2>编译器输出</h2>
    <code class="result">
      {{ job.resultMessage }}
    </code>
  </div>
  <div class="blk test-points">
    <h2>测试点</h2>
    <div class="test-points-wrapper">
      <app-job-test-item
        *ngFor="let res of results()"
        [item]="res[1]"
        [key]="res[0]"
      >
      </app-job-test-item>
    </div>
  </div>
</div>
