@import '../../../styles/common.styl'

.before-title-spacer {
  height: var(--space-4)
}

.title {
  display: flex
  flex-direction: column
}

.id {
  color: var(--alt-primary)
}

.title>h1 {
  margin-top: var(--space-0)
}

.result-brief {
  font-size: var(--font-size-title)
  font-weight: 800
}

.result-brief-slider {
  display: flex
  flex-direction: column

  app-slider-view {
    margin-y: var(--space-2)
  }
}
