<div class="wrapper">
  <div class="login-wrapper container-slim">
    <div class="row left">
      <h1>登录</h1>
    </div>
    <div class="col-wrapper">
      <div class="textbox">
        <div class="caption">用户名</div>
        <input type="text" id="username" />
      </div>
      <div class="textbox">
        <div class="caption">密码</div>
        <input type="password" name="password" id="password" />
      </div>
    </div>
    <div class="row right">
      <div class="btn secondary info">注册</div>
      <div class="btn dark">登录</div>
    </div>
  </div>
</div>
