<div class="textbox" [ngClass]="styleClass">
  <div class="caption">{{ caption }}</div>
  <div class="input input-wrapper" [ngClass]="inputClass" (click)="focus()">
    <ic-icon
      *ngIf="icon"
      [icon]="icon"
      class="icon"
      [size]="iconSize.toString()"
      [align]="'center,bottom,slice'"
    ></ic-icon>
    <select
      class="textbox"
      [(ngModel)]="_value"
      (ngModelChange)="ngModelChange()"
      [disabled]="disabled"
      multiple
      #input
    >
      <ng-content></ng-content>
    </select>
  </div>
  <div class="message">{{ message }}</div>
</div>
