<div class="container-slim">
  <div class="section">
    <div class="row text"><h1>添加用户</h1></div>
    <textbox caption="用户名" [(value)]="username"></textbox>
    <textbox caption="初始密码" [(value)]="password" type="password"></textbox>
    <dropdown caption="用户类型" type="dropdown" [(value)]="kind">
      <option *ngFor="let opt of options" [ngValue]="opt">{{ opt }}</option>
    </dropdown>
    <div class="row right text">
      <div class="result">{{ result }}</div>
      <button class="btn info" (click)="send()" [disabled]="sending">
        确定
      </button>
    </div>
  </div>
</div>
