<app-navbar></app-navbar>
<div class="container">
  <div class="title-row">
    <div class="id">{{ suite?.name }}:{{ id }}</div>
    <h1>{{ suite?.title }}</h1>
  </div>
  <div class="row">
    <div class="lblk">
      <div id="job-submit">
        <h2>提交评测</h2>
        <div class="input-list">
          <textbox
            class="repo-input"
            type="text"
            placeholder="https://my-git.com/my-repo.git"
            caption="仓库地址"
            [icon]="repoIcon"
            [(value)]="repo"
          ></textbox>
          <textbox
            class="branch-input"
            type="text"
            placeholder="master"
            caption="分支"
            [icon]="branchIcon"
            [(value)]="branch"
          ></textbox>
        </div>
        <div class="row submit-btn-row text">
          <!-- <div class="ghost-btn">添加 Webhook</div> -->
          <div class="btn dark" (click)="submitTest()">提交</div>
        </div>
      </div>
      <div id="section suite-desc">
        <h2>测试描述</h2>
        <markdown [data]="suite?.description"></markdown>
      </div>
    </div>
    <div class="rblk" id="job-list">
      <h2>评测记录</h2>
      <ng-template [ngIf]="!items || items.length === 0" [ngIfElse]="jobLog">
        <div class="no-list">没有评测记录</div>
      </ng-template>
      <ng-template #jobLog>
        <app-job-item
          *ngFor="let item of items"
          [item]="item"
          (click)="gotoJob(item.id)"
        ></app-job-item>
      </ng-template>
    </div>
  </div>
</div>
