@import '../../../styles/breakpoint'

.row {
  flex-wrap: wrap
}

.lblk,
.rblk {
  +active-above(theme-breakpoint-lg) {
    lost-column: 1 / 2
  }

  +active-below(theme-breakpoint-lg) {
    lost-column: 1 / 1
  }
}

.id {
  color: var(--secondary-color)
}

.title-row {
  h1 {
    margin-top: var(--space-0)
  }
}
