<div class="container">
  <app-back-btn></app-back-btn>
  <div class="title">
    <h1>评测输出</h1>
    <div class="repo-rows">
      <div class="row text" *ngIf="job">
        <span class="job-info">
          <ic-icon [icon]="jobIcon"></ic-icon>
          #{{ jobId }}
        </span>
        <span class="job-info">
          <ic-icon [icon]="reportIcon"></ic-icon>
          {{ testCaseKey }}
        </span>
      </div>
    </div>
  </div>
  <div class="section err-info">
    <div class="error-kind">
      {{ testCase?.kind }}
    </div>
    <div class="message">
      {{ output?.message }}
    </div>
  </div>
  <div class="section output-diff" *ngIf="output?.stdoutDiff">
    <h2>输出</h2>
    <div class="desc">- 多余的 / + 缺少的</div>
    <div class="diff">
      <div
        class="diff-line"
        *ngFor="let line of unDiff"
        [class.diff-minus]="line.kind === '-'"
        [class.diff-plus]="line.kind === '+'"
      >
        <div class="diff-kind">{{ line.kind }}</div>
        <code>{{ line.line }}</code>
      </div>
    </div>
  </div>
  <div
    class="section output-section"
    *ngIf="output?.output && output.output.length > 0"
  >
    <h2>过程输出</h2>
    <div class="step" *ngFor="let step of output?.output">
      <div class="container" *ngIf="step.runned_inside">
        in {{ step.runned_inside }}
      </div>
      <pre class="command">{{ stripSh(step.command) }}</pre>
      <div class="output stdout" *ngIf="step.stdout && step.stdout !== ''">
        <div class="title">--- stdout ---</div>
        <pre [innerHtml]="formatStdoutOrStderr(step.stdout)"></pre>
      </div>
      <div class="output stderr" *ngIf="step.stderr && step.stderr !== ''">
        <div class="title">--- stderr ---</div>
        <pre [innerHtml]="formatStdoutOrStderr(step.stderr)"></pre>
      </div>
      <div
        class="ret-code"
        [class.ret-check]="!isExitStatusZero(step.ret_code)"
      >
        [ {{ formatExitStatus(step.ret_code) }} ]
      </div>
    </div>
  </div>
</div>
