<div class="container" *ngIf="suite">
  <div class="title-row">
    <div class="row text">
      <div class="id">{{ suite?.name }}:{{ id }}</div>
      <div class="space"></div>
      <a class="link-btn" (click)="togglePublic()">
        {{ suite.isPublic ? "公开" : "未公开" }}
      </a>
      <a [routerLink]="'/suite/' + id">测试界面</a>
      <a class="link-btn" (click)="removeSuite()">删除</a>
    </div>
    <h1>{{ suite?.title }}</h1>
    <div class="tags">
      <div class="tag" *ngFor="let tag of suite.tags">#{{ tag }}</div>
      <div class="tag" *ngIf="!suite.tags">没有标签</div>
    </div>
  </div>
  <div class="section">
    <h2>替换题目</h2>
    <app-file-upload-area
      [uploadFunction]="getUploadFileFunction()"
    ></app-file-upload-area>
  </div>
  <div class="section">
    <h2>导出</h2>
    <div class="row">
      <div class="btn info" (click)="dumpJobs()">导出最新结果</div>
      <div class="btn secondary info" (click)="dumpAllJobs()">导出所有结果</div>
    </div>
  </div>
  <div class="section">
    <h2>当前结果</h2>
    <div class="row wrap col-container">
      <textbox
        id="test-suite-search-from-user"
        caption="来自用户"
        [(value)]="searchParams.username"
      ></textbox>
      <textbox
        id="test-suite-search-from-id"
        caption="起始 ID"
        [(value)]="searchParams.startId"
      ></textbox>
      <checkbox
        id="test-suite-search-asc"
        caption="正序"
        [(value)]="searchParams.ascending"
      ></checkbox>
      <button
        id="test-suite-search"
        class="btn info"
        (click)="searchItems()"
        [disabled]="searching"
      >
        搜索
      </button>
    </div>
    <div class="section">
      <app-job-item
        *ngFor="let item of searchedItems"
        [testSuite]="suite"
        [job]="item"
        [showUsername]="true"
        [routerLink]="['/job', item.id]"
      ></app-job-item>
      <button
        class="btn secondary dark"
        *ngIf="!searching && !searchExhausted && initiatedSearch"
        (click)="appendSearch()"
      >
        加载更多
      </button>
    </div>
  </div>
</div>
