<app-navbar [adminMode]="true"></app-navbar>
<div class="container">
  <div class="title-row">
    <div class="row text">
      <div class="id">{{ suite?.name }}:{{ id }}</div>
      <div class="space"></div>
      <a (click)="togglePublic()">
        {{ suite.isPublic ? "公开" : "未公开" }}
      </a>
      <a [routerLink]="'/suite/' + id">测试界面</a>
      <a (click)="removeSuite()">删除</a>
    </div>
    <h1>{{ suite?.title }}</h1>
  </div>
  <div class="section">
    <h2>替换题目</h2>
    <app-file-upload-area
      [uploadFunction]="getUploadFileFunction()"
    ></app-file-upload-area>
  </div>
  <div class="section">
    <h2>导出</h2>
    <div class="row">
      <div class="btn info" (click)="dumpJobs()">导出最新结果</div>
      <div class="btn secondary info" (click)="dumpAllJobs()">导出所有结果</div>
    </div>
  </div>
  <div class="section">
    <h2>当前结果</h2>
  </div>
</div>
